#home #headline
{
    position: relative;
    top: 200px;
    height: 0;
    
    user-select: none;
}

#home #gradient
{
    background-image: linear-gradient(#ebe3dd, #11091d);
    
    position: static;
    height: 2000px;

    z-index: -1;
}

#home #content
{
    position: static;

    padding-top: 200px;
    padding-bottom: 200px;
}

#home #content .container.default
{
    margin-bottom: 4em;
}