html
{
    font-size: min(2vw, 1.75rem);
}

:root
{
    --header-height: 1.5rem;

    --font-size-topbar: 0.7rem;
    --font-size-normal: 0.7rem;
    --font-size-subtitle: 1.2rem;
    --font-size-title: 3rem;
}