@font-face
{
    font-family: "Bahnschrift";
    src: url("./Resources/Fonts/Bahnschrift.woff") format("woff");
    
    font-weight: lighter;
    font-style: normal;
}

.dark ::selection
{
    color: #11091d;
    background: #ebe3dd;
}

::selection
{
    color: #ebe3dd;
    background: #11091d;
}

body
{
    background-color: #ebe3dd;
    font-family:'Bahnschrift';
    font-weight: lighter;

    position: static;

    margin: 0;
}

header
{
    background-color: inherit;

    position: fixed;
    top: 0;
    height: 7vh;
    left: 0;
    width: 100%;

    z-index: 2;
}

header.container
{
    border-top: none;
    border-left: none;
    border-right: none;
}

main
{
    position: static;
    
    z-index: 0;
}

footer
{
    position: static;
    height: 20vh;
    
    z-index: 1;
}

footer.container
{
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#home #headline
{
    position: absolute;
    top: 30vh;
    height: 0;
    
    user-select: none;
}

#home #gradient
{
    background-image: linear-gradient(#ebe3dd, #11091d);
    
    position: relative;
    height: 300vh;

    margin-top: 7vh;

    z-index: -1;
}

#home #content
{
    position: static;

    padding-top: 10vh;
    padding-bottom: 20vh;
}

ul
{
    font-size: 20px;
}

a
{
    color: inherit;
    text-decoration: inherit;
}

#topbar
{
    position: relative;

    top: 2%;
    left: 30%;
    width: 40%;

    user-select: none;
}

#topbar li
{
    display: inline;
    vertical-align: middle;
    line-height: 1;
}

div, section
{
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;

    text-align: center;
}

pre
{
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
    
    margin: 0;
    white-space: pre-wrap;
}

pre.title
{
    font-size: 70px;
}

pre.subtitle
{
    font-size: 35px;
}

.container
{
    text-align: center;

    border: 3px solid;
}

.container.default
{
    position: auto;
    
    height: 250px;
    line-height: 250px;

    margin-left: 25%;
    width: 50%;
}

.container pre
{
    vertical-align: middle;

    line-height: 1;
    display: inline-block;
}

.textBlock
{
    position: relative;
    
    left: 35%;
    width: 30%;
    height: fit-content;

    word-wrap: break-word;
}

.dark
{
    background-color: #11091d;

    color: #ebe3dd;
}

img
{
    user-select: none;
    pointer-events: none;
}

a img
{
    pointer-events: all;
}

br
{
    user-select: none;
}

#itchio
{
    position: absolute;

    right: 0.5%;
    top: 15%;
    height: 70%;
}