@font-face
{
    font-family: "Bahnschrift";
    src: url("./Resources/Fonts/Bahnschrift.woff") format("woff");
    
    font-weight: lighter;
    font-style: normal;
}

:root
{
    --color-light: #ebe3dd;
    --color-dark: #11091d;

    --button-hover: 110%;
    --button-press: 80%;

    --transition-delay: 0.1s;

    --line-thickness: 0.11rem;
}

*
{
    margin: 0;
    padding: 0;

    transition: height var(--transition-delay), width var(--transition-delay), font-size var(--transition-delay);
}

body
{
    background-color: var(--color-light);
    font-family: 'Bahnschrift';
    font-weight: lighter;

    overflow-x: hidden;
    max-width: 100vw;
}

body *
{
    max-width: inherit;
}

/* header ------------------------------------------------------------------------------------------------------------------------------- */

header
{
    background-color: inherit;

    position: sticky;
    top: 0;
    height: var(--header-height);

    z-index: 2;
}

header.container
{
    border-top: none;
    border-left: none;
    border-right: none;
}

#topbar
{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    
    user-select: none;
    pointer-events: none;
}

#topbar ul
{
    display: flex;

    justify-content: space-between;
    pointer-events: all;
}

#topbar li
{
    display: inline;

    font-size: var(--font-size-topbar);

    padding: 0 0.1rem;
}

header .social
{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    pointer-events: none;
}

header .social div
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .social *
{
    height: inherit;
}

header .social img
{
    width: auto;
    height: 100%;
}

/* main ------------------------------------------------------------------------------------------------------------------------------- */

main
{
    z-index: 0;
}

.secondary
{
    padding-top: 2em;
    padding-bottom: 7rem;
}

.secondary #headline
{
    padding-bottom: 5rem;
}

/* footer ------------------------------------------------------------------------------------------------------------------------------- */

footer
{
    position: static;
    height: fit-content;
    
    z-index: 1;

    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

footer.container
{
    border-bottom: none;
    border-left: none;
    border-right: none;
}

footer #title
{
    margin-bottom: 1rem;
}

footer #content
{
    position: relative;

    height: fit-content;
}

/* home ------------------------------------------------------------------------------------------------------------------------------- */

#home #headline
{
    position: relative;
    top: 8rem;
    height: 0;
    
    user-select: none;
}

#home #gradient
{
    background-image: linear-gradient(#ebe3dd, #11091d);
    
    position: static;
    height: 50rem;

    z-index: -1;
}

#home #content
{
    position: static;

    padding-top: 10rem;
    padding-bottom: 5rem;
}

#home #content .container.default
{
    margin-bottom: 4rem;
}

/* other ------------------------------------------------------------------------------------------------------------------------------- */

::selection
{
    color: var(--color-light);
    background: var(--color-dark);
}

.dark
{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.dark ::selection, .dark::selection
{
    color: var(--color-dark);
    background: var(--color-light);
}

div, section
{
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;

    text-align: center;
}

a
{
    position: inherit;
    
    color: inherit;
    text-decoration: inherit;
}

img
{
    user-select: none;
    pointer-events: none;

    display: block;
    margin: 0 auto;
}

a img
{
    pointer-events: all;
}

.button:hover, .button :hover
{
    font-size: var(--button-hover);
}

.button.height img:hover
{
    height: var(--button-hover);
}

.button.width img:hover
{
    width: var(--button-hover);
}

.button:not(.width):not(.height) img:hover
{
    height: var(--button-hover);
    width: var(--button-hover);
}

pre
{
    font-family: inherit;
    font-weight: inherit;
    font-size: var(--font-size-normal);
    
    margin: 0;
    white-space: pre-wrap;
}

pre.title
{
    font-size: var(--font-size-title);
}

pre.subtitle
{
    font-size: var(--font-size-subtitle);
}

.container
{
    border: solid var(--line-thickness);
    
    text-align: center;
}

.container.default
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10rem;
    max-height: 25vw;
    width: 35rem;
    max-width: 80vw;

    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.container pre
{
    vertical-align: middle;

    display: inline-block;
}

.textBlock
{
    position: relative;
    
    margin: 0 auto;

    height: fit-content;
    width: 25rem;
    max-width: 80vw;

    word-wrap: break-word;
    
    margin-bottom: 4em;
}

.gallery
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img
{
    width: 25rem;
    max-width: 70vw;
}

.gallery img
{
    margin: 1rem 0;
}

img.container
{
    padding: 0.5vh;
}

br.underline
{
    position: relative;
    bottom: 0;

    display: inline;
    background-color: var(--color-dark);
}