@font-face
{
    font-family: "Bahnschrift";
    src: url("./Resources/Fonts/Bahnschrift.woff") format("woff");
    
    font-weight: lighter;
    font-style: normal;
}

body
{
    background-color: #ebe3dd;
    font-family:'Bahnschrift';
    
    font-weight: lighter;
}

main
{
    position: absolute;
    top: 0%;
    height: 150%;
    left: 0%;
    width: 100%;
}

header
{
    background-color: inherit;

    position: fixed;
    top: -10%;
    height: 17%;
    left: -10%;
    width: 120%;
}

div
{
    top: 0%;
    height: 100%;
    left: 0%;
    width: 100%;

    text-align: center;
}

pre
{
    font-family: inherit;
    font-weight: inherit;
    font-size: 27px;
    
    margin: 0%;
}

pre.title
{
    font-size: 70px;
}

pre.subtitle
{
    font-size: 35px;
}

.container
{
    text-align: center;

    border: 3px solid;
}

.container.default
{
    position: auto;
    
    height: 250px;
    line-height: 250px;

    margin-left: 25%;
    width: 50%;
}

.container pre
{
    vertical-align: middle;

    line-height: 1;
    display: inline-block;
}

#home #headline
{
    position: absolute;
    top: 20%;
    user-select: none;
}