@font-face
{
    font-family: "Bahnschrift";
    src: url("./Resources/Fonts/Bahnschrift.woff") format("woff");
    
    font-weight: lighter;
    font-style: normal;
}

.dark ::selection
{
    color: #11091d;
    background: #ebe3dd;
}

::selection
{
    color: #ebe3dd;
    background: #11091d;
}

html
{
    max-width: 100vw;
    overflow-x: hidden;
}

body
{
    background-color: #ebe3dd;
    font-family:'Bahnschrift';
    font-weight: lighter;

    position: static;

    margin: 0;
}

/* header ------------------------------------------------------------------------------------------------------------------------------- */

header
{
    background-color: inherit;

    position: fixed;
    top: 0;
    height: 6vh;
    left: 0;
    width: 100%;

    z-index: 2;
}

header.container
{
    border-top: none;
    border-left: none;
    border-right: none;
}

#topbar
{
    user-select: none;
}

#topbar ul
{
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;

    line-height: 6vh;

    margin: 0;
    padding: 0;
}

#topbar li
{
    display: inline;

    vertical-align: middle;

    font-size: 2.15vh;
}

#itchio
{
    position: absolute;

    right: 0.5vh;
    top: 0.5vh;
    height: 5vh;

    margin: 0;
}

/* main ------------------------------------------------------------------------------------------------------------------------------- */

main
{
    position: static;

    margin-top: 6vh;

    z-index: 0;
}

.secondary
{
    padding-top: 7vh;
    padding-bottom: 20vh;
}

.secondary #headline
{
    padding-bottom: 20vh;
}

/* footer ------------------------------------------------------------------------------------------------------------------------------- */

footer
{
    position: static;
    height: 20vh;
    
    z-index: 1;

    padding-top: 4vh;
    padding-bottom: 1vh;

    line-height: 4vh;
}

footer.container
{
    border-bottom: none;
    border-left: none;
    border-right: none;
}

footer #title
{
    margin-bottom: 4vh;
}

footer #content
{
    position: relative;

    height: fit-content;
}