div, section
{
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;

    text-align: center;
}

.dark
{
    background-color: #11091d;

    color: #ebe3dd;
}

pre
{
    font-family: inherit;
    font-weight: inherit;
    font-size: 2.15vh;
    
    margin: 0;
    white-space: pre-wrap;
}

pre.title
{
    font-size: 7.5vh;
}

pre.subtitle
{
    font-size: 3.75vh;
}

.container
{
    text-align: center;

    border: 0.4vh solid;
}

.container.default
{
    position: auto;
    
    height: 30vh;
    line-height: 30vh;

    margin-left: 27.5%;
    margin-bottom: 1vh;
    width: 45%;
}

.container pre
{
    vertical-align: middle;

    display: inline-block;
}

.textBlock
{
    position: relative;
    
    left: 35%;
    width: 30%;
    height: fit-content;

    word-wrap: break-word;
    
    margin-bottom: 4em;
}

ul
{
    font-size: 20px;
}

a
{
    color: inherit;
    text-decoration: inherit;
}

img
{
    user-select: none;
    pointer-events: none;

    display: block;

    margin-left: auto;
    margin-right: auto;

    margin-top: 2vh;
    margin-bottom: 2vh;
}

a img
{
    pointer-events: all;
}

br
{
    user-select: none;
}

.gallery img
{
    width: 40vw;
}

img.container
{
    padding: 0.5vh;
}