div, section
{
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;

    text-align: center;
}

.dark
{
    background-color: #11091d;

    color: #ebe3dd;
}

a
{
    position: inherit;
    
    color: inherit;
    text-decoration: inherit;
}

img
{
    user-select: none;
    pointer-events: none;

    display: block;
    margin: 0 auto;
}

a img
{
    pointer-events: all;
}

.button:hover, .button :hover
{
    font-size: var(--button-hover);
}

.button.height img:hover
{
    height: var(--button-hover);
}

.button.width img:hover
{
    width: var(--button-hover);
}

.button:not(.width):not(.height) img:hover
{
    height: var(--button-hover);
    width: var(--button-hover);
}

pre
{
    font-family: inherit;
    font-weight: inherit;
    font-size: var(--font-size_Normal);
    
    margin: 0;
    white-space: pre-wrap;
}

pre.title
{
    font-size: var(--font-size_Title);
}

pre.subtitle
{
    font-size: var(--font-size_Subtitle);
}

.container
{
    text-align: center;

    border: solid 4px;
}

.container.default
{
    position: auto;
    
    height: 30vh;
    line-height: 30vh;

    margin-left: 27.5%;
    margin-bottom: 1vh;
    width: 45%;
}

.container pre
{
    vertical-align: middle;

    display: inline-block;
}

.textBlock
{
    position: relative;
    
    left: 35%;
    width: 30%;
    height: fit-content;

    word-wrap: break-word;
    
    margin-bottom: 4em;
}

ul
{
    font-size: 20px;
}

br
{
    user-select: none;
}

.gallery
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery img
{
    width: 40vw;
    margin: 10px;
}

img.container
{
    padding: 0.5vh;
}