html
{
    font-size: 4vw;
}

:root
{
    --header-height: 2.2em;
    
    --topbar-separation: 0.5em;

    --font-size-topbar: 1em;
    --font-size-normal: 0.9em;
    --font-size-subtitle: 1.2em;
    --font-size-title: 1.8em;

    --scaling-mini: 1em;
}